.text-center {
  text-align: center;
}

p {
  margin-bottom: -10px !important;
  font-size: 40px;
}

#title-nav {
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}
#nav {
  background-color: #253858;
  color: #ffffff;
}
